<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <mediaLibrary>
      <mediaProvider type="Sitecore.Resources.Media.MediaProvider, Sitecore.Kernel" >
        <patch:attribute name="type">CustomMediaProvider.MediaProvider, CustomMediaProvider</patch:attribute>
      </mediaProvider>
    </mediaLibrary>
  </sitecore>
</configuration>